<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDataService">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59852/DataService.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IDataService" contract="DataService.IDataService"
                name="WSHttpBinding_IDataService">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA/oFTRNg9CYAj34vu1mCo0LQPLlUgAAAAAQAAAE8CAAAwggJLMIIB+aADAgECAhDzUnjOVDRXhUOlYlVymi+qMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTcxMjI4MjAzOTA1WhcNMzkxMjMxMjM1OTU5WjAqMSgwJgYDVQQDEx9XY2ZTYW1wbGUuV2NmU2FtcGxlLkRhdGFTZXJ2aWNlMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxsJiT4snpN8Vgt1QAJXDPTtMq6N5FnELz71fspIuSB29MHW/kEAqSxbCbH3KCbEfpYvhNkGEZvj4LAyKs+EVCuJRVhPItofr8bG2hj0U2AKwRRMwwzOGbeP7YzDooTCf0Wm0bLyEingYq0knczNlDuSPqO7guKIfgIcrT4C5sE+fJ4fUg+xi1Zbu35s15wmtSXJ4a6CLDUFa1lC7Gr9rxnT5WmcqTsyGC92+AS6jHcSYvAzouy1LC/kaCskvR3E+V8F/8sU2QsNiq1lcKZgvgNnHYVdNROD7f3VyJ3grX39gcO0qNlp7WgWKoiiwfekCaIjx3VVIsmscnrAM+Px2NwIDAQABo0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwCQYFKw4DAh0FAANBABTvb9jkg2Mwh4qHJPA9xPZhD7Y/MPEuzF0CUdwkoCdZuFyTnZ79VX0KTCiimTnpnFst6H77omZHAlHEdDH3v0Y=" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>